aside {
	float: left;
	background: $color-background;
	color: $color-text;
	height: calc(100% - 70px);
	i {
		font-size: 14px !important;
		margin-right: 10px
	}
	.info-user {
		position: relative;	
		padding: $padding-content;		
		.avatar {
			width: 30%;
			margin: 10px 0px;
			img {
				width: 100%;
				height: auto;
				border-radius: 50%;
			}
		}
		.profile {
			float: left;
			width: 70%;
			padding-left: 10%;
			padding-top: 20px;
			strong {
				color: #f0ad4e;
			}
		}
		.custom-info-user {
			float: left;
			width: 20%;
			i {
				float: right;
				line-height: 20px;
				display: block;
				margin-right: 0px;
			}
		}
		&:after {
			content: "\f013";
			font: normal normal normal 14px/1 FontAwesome;
			position: absolute;
			z-index: 2;
			right: 10px;
			top: 10px;
		}
	}
	.list-category {
		height: 92%;	
		.box-search-category {		
			margin-bottom: 20px;
			.navbar-form {
				width: 100%;
				.form-group {
					width: 79%;
					input {
						width: 100%;
					}
				}				
			}
			.btn.btn-primary {
				float: right;
				width: 19%;
				i {
					margin-right: 0px;
				}
			}
		}		
		.box-category {			
			border-bottom: 1px solid #1c2429;
			border-top: 1px solid #424242;
			padding: $padding-content;	
			h2 {
				position: relative;
				color: $color-h2;
				cursor: pointer;
				&:after {
					content: "\f0da";
					font: normal normal normal 14px/1 FontAwesome;
					position: absolute;
					z-index: 2;
					right: 0px;
					top: 50%;
					color: $color-text;
					-webkit-transform: translateY(-50%);
						   -moz-transform: translateY(-50%);
						    -ms-transform: translateY(-50%);
						     -o-transform: translateY(-50%);
						        transform: translateY(-50%);	

				}
				&.active {
					margin-bottom: 15px;
					&:after {
						content: "\f0dd";
					}
				}
			}
			.category {
				padding: 10px 0px;
				padding-left: 10px;
				// display: none;
				-webkit-transition: all 0.5s ease;
				   -moz-transition: all 0.5s ease;
				    -ms-transition: all 0.5s ease;
				     -o-transition: all 0.5s ease;
				        transition: all 0.5s ease;
			}
			&.__border-top-none{
				border-top: 0px;
			}
			&:last-child {
				border-bottom: none;
			}
		}
		&.small-width {
			h3 {
				text-align: center;
				i {
					margin-right: 0px;
				}
				.close-small-width {
					display: none;
				}	
			}		
		}
	}
	.close-aside {
		width: 100%;
		background: #000;
		z-index: 2;
		left: 0;
		height: 8%;
		position: relative;
		cursor: pointer;
		&:after {
		    content: "\f104";
		    font: normal normal normal 14px/1 FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    text-decoration: inherit;
		    color: #fff;
		    font-size: 18px;
		    line-height: 1;
		    position: absolute;
		    text-align: center;
		    top: 50%;
		    left: 50%;
			-webkit-transform: translate(-50%, -50%);
			   -moz-transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			     -o-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
		}		
	}
	&.small-width {
		width: 5%;
		.list-category {
			padding: 10px 10px;
		}
		.close-aside {
			&:after {
			    content: "\f105";
		    }			
		}
		.info-user {
			div {
				width: 100% !important;
				margin-left: 0px !important;
				margin-right: 0px !important;
				padding-left: 0px !important;
				padding-top: 0px !important;
			}
			.custom-info-user {
				position: absolute;
				right: 0px;
				top: -5px;
			}
		}
	}		
}
