header {
	background: #38464F;
	width: 100%;
	padding: $padding-content;
	height: 70px;
	color: #fff;
	border-bottom: 1px solid #232627;
	h1 {
		color: #fff;
		float: left;
	}
	.login {
		float: right;		
		.navbar-right {
			margin-right: 25px;
		}
		.btn.btn-primary {
			margin-left: 5px !important;
		}		
		a {
			color: #e1e1e1;
			float: left;
			i {
				font-size: 20px;
				float: left;
				line-height: 45px;
			}
			span {
				float: left;
				line-height: 45px;
				margin-right: 10px;
				font-size: 20px;
			}		
			&:hover {
				color: #ccc;
			}	
		}
		.notice {
			position: relative;
			float: left;
			a {			
				i {
					font-size: 15px;
					margin-right: 5px;
				}
				span {
				    background-color: #ec2525;
				    position: absolute;
				    display: inline-block;
				    top: 5px;
				    right: -20px;
				    width: 18px;
				    height: 18px;
				    color: #ffffff;
				    font-weight: normal;
				    font-size: 12px;
				    text-align: center;
				    line-height: 18px;
				    border-radius: 50em;
				    -moz-border-radius: 50em;
				    -webkit-border-radius: 50em;					
				}			
				
			}
			.list-notice {
				position: absolute;
				z-index: 2;
				left: -30px;
				min-width: 320px;
				top: 50px;
				background: #fff;
				border-radius: 5px;
				border: 1px solid #e8e8e8;
				display: none;
				ul {
					width: 100%;
					margin-bottom: 0px;
					li {
						width: 100%;
						list-style-type: none;
						color: #212529;
						border-bottom: 1px dotted #ddd;
						padding: 7px 10px;
						p {
							color: green;
						}
						&:last-child {
							border-bottom: 0px;
						}	
						&:hover {
							background: #fddcae;
							cursor: pointer;
						}					
					}
				}
			}
		}
	}
}